:root {
    --color-blue: #063970;
    --color-black: #121212;
    --color-white: #FFFFFF;
    --color-red: #dc3545;
    --color-green: #28a745;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
/* ::-webkit-scrollbar {
    width: 15px;
    color: var(--color-black);
} */
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    padding: 10px;
}
/* Text Align  */
.center {
    text-align: center;
}
.start {
    text-align: right;
}
.end {
    text-align: left;
}
/* Display Flex */
.flex {
    display: flex;
    align-items: center;
}
.flex-start {
    justify-content: start;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: end;
}
.flex-space-even {
    justify-content: space-between;
}
.flex-row {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* Display Grid  */
.grid {
    display: grid;
}
.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.col-3 {
    grid-template-columns: repeat(3,1fr);
}
.col-4 {
    grid-template-columns: repeat(4,1fr);
}
.row-2 {
    grid-template-rows: repeat(2, 1fr);
}
.row-3 {
    grid-template-rows: repeat(3, 1fr);
}

/* Button Styles */
.btn {
    border: 1px solid;
    border-color: inherit;
    padding: 0.6rem 1.2rem;
    margin: 0.5rem;
    font-weight: 500;
}
.btn-s {
    padding: 0.3rem 0.9rem;
}
.btn-l {
    padding: 0.7rem 1.4rem;
}
.btn-block {
   width: 100%;
}
.btn:hover {
    border-color: inherit;
    background-color: inherit;
    color: inherit;
    transition: 300ms ease-in-out;
}
/* Border Style  */
.round {
    border-radius: 20px;
}
.rounder {
    border-radius: 100px;
}
/* Input Styles */
input {
    border-color: var(--color-blue);
    color: var(--color-black);
    padding: 0.35rem 1.8rem;
    margin: 0.5rem;
    border-radius: 20px;
}
/* Select Styles  */
select, option {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 0.35rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
}
.input-select {
    border-radius: 10px;
}
/* Backgrounds */
.bg-black {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
}
.bg-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-white);
}
.bg-white {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-white);
}
.bg-red {
    background-color: var(--color-red);
    color: var(--color-white);
    border-color: var(--color-white);
}
.bg-green {
    background-color: var(--color-green);
    color: var(--color-white);
    border-color: var(--color-white);
}
/* Icons */
i {
    margin: 0rem 0.3rem;
}
/* Demo  */
/* main, section {
    margin: 10% 20%;
    border: 1px solid;
} */



